$blue-black: #002333;
$white: #FCFCFD;
$bisque-gray: #D9D9D9;
$sea: #149A9B;
$dark-blue: #0A3041;
$blue-white: #C0DACE;
$gray: #B4BEC8;
$pastel-green: #B0D9D4;
$pastel-light-green: #CFE9E3;
$white-beige: #D9D9D9;