@use "colors" as colors;

footer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 5%;

  justify-content: center;
  align-items: center;

  background-color: colors.$blue-black;
  color: colors.$white;

  .line {
    border: 2px solid colors.$white;
    height: 17.5px;
    margin-right: 3%;
  }

  .icon {
    height: 40px;
    margin-right: 1%;
  }

  .icon:hover {
    filter: brightness(60%);
  }

  .footerLink {
    text-decoration: none;
    color: colors.$white;
    margin-right: 3%;
    font-size: large;
  }

  .footerLink:hover {
    color: colors.$gray;
  }

  .footerLink:active {
    font-size: larger;
  }

  .copyright {
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: smaller;
  }

  .break {
    flex-basis: 100%;
  }
}