@use "colors" as colors;
@use "fonts";

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 3;

  height: 50px;
  left: 0;
  right: 0;
  top: 0;

  padding-left: 3%;
  padding-right: 20%;

  background: colors.$blue-black;
  color: colors.$white;

  font-size: medium;

  .leftNav {
    display: flex;
    align-items: center;
    height: 50px;

    .profilePic {
      height: 40px;
      border-radius: 50%;
    }

    .name {
      margin: 10%;
      text-wrap: nowrap;
      font-weight: lighter;
    }
  }

  .navOption {
    margin: 7%;
    color: colors.$white;
    text-decoration: none;
    font-family: NotoSans;
  }

  .navOption:hover {
    color: colors.$gray;
  }

  .navOption:active {
    font-size: large;
  }
}