@use "colors" as colors;

.modalBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: auto;
  padding-bottom: 4%;

  color: colors.$white;
  font-family: "Roboto";

  border: none;
  border-radius: 20px;
  background-color: colors.$dark-blue;

  .arrowTitle {
    padding-left: 3%;
    padding-top: 2%;
    text-align: center;

    .backArrow {
      position: absolute;
      left: 3%;
      border: solid colors.$white;
      border-width: 0 7px 7px 0;
      display: inline-block;
      padding: 7px;

      transform: rotate(135deg);

      filter: drop-shadow(3px 3px 3px colors.$pastel-light-green);

      :active {
        border-width: 0 9px 9px 0;
        padding: 9px;
      }
    }

    .modalTitle {
      font-size: xx-large;
      letter-spacing: 2px;
      font-weight: bold;
      font-family: "Roboto Mono";
    }
  }

  .projectContent {
    padding: 5%;
    display: flex;

    .projectInfo {
      width: 45%;
      margin-right: 10%;

      .projectSubtitle {
        margin-top: 20%;
        font-size: x-large;
      }

      .technologiesList {
        display: flex;
        justify-content: space-between;
      }
    }

    .projectImage {
      width: 300px;
      height: 300px;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;

    .projectLink {
      .sourceButton {
        border-radius: 20px;
        padding-top: 4%;
        padding-left: 20%;
        padding-bottom: 4%;
        padding-right: 20%;

        text-align: center;
        font-size: x-large;
        font-family: "Mulish";

        border: none;
        color: colors.$blue-black;
        background: linear-gradient(272deg, colors.$sea, colors.$blue-white);
      }

      :hover {
        filter: drop-shadow(4px 5px 6px colors.$sea);
      }

      :active {
        padding-left: 30%;
        padding-right: 30%;
        padding-top: 6%;
        padding-bottom: 6%;
      }
    }
  }
}
