@use "colors" as colors;

.container {
  flex-basis: 450px;
  margin-top: 10%;

  .project {
    width: 400px;
    height: 400px;
    border-radius: 30px;

    .projectTitleBackground {
      padding: 2%;
      border-radius: 30px;

      .projectTitle {
        font-size: xx-large;
        font-weight: bold;
      }
    }
  }

  :hover {
      zoom: 1.1;
      filter: drop-shadow(4px 4px 3px colors.$gray);
  }
}