@use "colors" as colors;

.home {
  background-color: colors.$bisque-gray;
  padding-top: 20%;
  padding-bottom: 5%;

  .introduction {
    color: colors.$blue-black;
    font-family: "Roboto Mono";
    font-size: 350%;
    text-align: center;

    .name {
      color: colors.$sea;
    }
  }

  .description {
    font-family: "Roboto";
    text-align: center;
    font-size: 125%;
  }

  .arrow {
    display: block;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 4%;
  }
}


.about {
  text-align: center;
  background-color: colors.$dark-blue;
  color: colors.$white;
  padding-top: 10%;
  padding-bottom: 10%;

  .title {
    font-size: 250%;
    font-weight: 600;
  }

  .underline {
    width: 15%;
    height: 2px;
    background-color: colors.$white;
  }

  .subtitles {
    display: flex;
    padding-top: 5%;
    justify-content: space-around;

    .subtitle {
      font-size: 200%;
      font-family: "Roboto Mono";
      letter-spacing: 2px;
    }
  }

  .aboutDetails {
    display: flex;

    .aboutInfo {
      margin-top: 2%;
      padding-left: 5%;
      width: 50%;
    }

    .skills {
      display: flex;
      width: 50%;
      align-items: start;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding-left: 5%;
      margin-top: 5%;
      height: 200px
    }
  }
}

.projects {
  text-align: center;
  background-color: colors.$bisque-gray;
  padding-top: 10%;
  padding-bottom: 10%;

  .title {
    font-size: 250%;
    font-weight: 600;
    color: colors.$blue-black;
  }

  .description {
    color: colors.$blue-black;
  }

  .projectList {
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .projectButton {
    margin-top: 8%;
    color: colors.$blue-black;
    background: linear-gradient(272deg, colors.$sea, colors.$blue-white);
    filter: drop-shadow(3px 6px 20px colors.$sea);

    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;

    border: none;
    border-radius: 50px;

    font-family: "Mulish";
    font-size: large;
    font-weight: 700;
    text-align: center;
  }
}

.contact {
  background-color: colors.$gray;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;

  .title {
    font-size: 250%;
    font-weight: 600;
    color: colors.$blue-black;
  }

  .container {
    display: flex;
    justify-content: center;

    .contactForm {
      display: flex;
      align-items: start;
      flex-direction: column;
      width: 50%;
      padding-top: 5%;
      color: colors.$blue-black;
      padding-bottom: 3%;

      background-color: colors.$pastel-green;

      .subtitle {
        font-size: 130%;
        margin-left: 10%;
      }

      .inputBox {
        background-color: colors.$pastel-light-green;
        margin-left: 10%;
        width: 78%;
        font-size: 100%;

        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 2%;
        margin-top: 2%;
        margin-bottom: 4%;

        border: none;
        border-radius: 15px;
      }

      .largeInputBox {
        background-color: colors.$pastel-light-green;
        margin-left: 10%;
        width: 78%;
        height: 120px;

        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 2%;
        font-size: 110%;
        margin-top: 2%;
        margin-bottom: 8%;

        resize: vertical;

        border: none;
        border-radius: 15px;
      }

      .submitButton {
        width: 20%;
        align-self: end;
        margin-right: 9%;
        border-radius: 20px;
        padding-top: 1%;
        padding-bottom: 1%;

        color: colors.$blue-black;
        background: linear-gradient(272deg, colors.$sea, colors.$blue-white);
        filter: drop-shadow(3px 6px 20px colors.$sea);

        border: none;

        font-size: large;
        font-family: "Mulish";
        font-weight: 700;
        text-align: center;
      }
    }
  }
}