.home {
  background-color: #D9D9D9;
  padding-top: 20%;
  padding-bottom: 5%;
}
.home .introduction {
  color: #002333;
  font-family: "Roboto Mono";
  font-size: 350%;
  text-align: center;
}
.home .introduction .name {
  color: #149A9B;
}
.home .description {
  font-family: "Roboto";
  text-align: center;
  font-size: 125%;
}
.home .arrow {
  display: block;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
}
.home .arrow:hover {
  width: 5%;
}

.about {
  text-align: center;
  background-color: #0A3041;
  color: #FCFCFD;
  padding-top: 10%;
  padding-bottom: 10%;
}
.about .title {
  font-size: 250%;
  font-weight: 600;
}
.about .underline {
  width: 15%;
  height: 2px;
  background-color: #FCFCFD;
}
.about .subtitles {
  display: flex;
  padding-top: 5%;
  justify-content: space-around;
}
.about .subtitles .subtitle {
  font-size: 200%;
  font-family: "Roboto Mono";
  letter-spacing: 2px;
}
.about .aboutDetails {
  display: flex;
}
.about .aboutDetails .aboutInfo {
  margin-top: 2%;
  padding-left: 5%;
  width: 50%;
}
.about .aboutDetails .skills {
  display: flex;
  width: 50%;
  align-items: start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 5%;
  margin-top: 5%;
  height: 200px;
}

.projects {
  text-align: center;
  background-color: #D9D9D9;
  padding-top: 10%;
  padding-bottom: 10%;
}
.projects .title {
  font-size: 250%;
  font-weight: 600;
  color: #002333;
}
.projects .description {
  color: #002333;
}
.projects .projectList {
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.projects .projectButton {
  margin-top: 8%;
  color: #002333;
  background: linear-gradient(272deg, #149A9B, #C0DACE);
  width: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: none;
  border-radius: 50px;
  font-family: "Mulish";
  font-size: large;
  font-weight: 700;
  text-align: center;
}
.projects .projectButton:hover {
  filter: drop-shadow(3px 6px 20px #149A9B);
}

.contact {
  background-color: #B4BEC8;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
}
.contact .title {
  font-size: 250%;
  font-weight: 600;
  color: #002333;
}
.contact .contactContainer {
  display: flex;
  justify-content: center;
}
.contact .contactContainer .contactForm {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 50%;
  padding-top: 5%;
  color: #002333;
  padding-bottom: 3%;
  background-color: #B0D9D4;
}
.contact .contactContainer .contactForm .subtitle {
  font-size: 130%;
  margin-left: 10%;
}
.contact .contactContainer .contactForm .inputBox {
  background-color: #CFE9E3;
  margin-left: 10%;
  width: 78%;
  font-size: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  margin-top: 2%;
  margin-bottom: 4%;
  border: none;
  border-radius: 15px;
}
.contact .contactContainer .contactForm .largeInputBox {
  background-color: #CFE9E3;
  margin-left: 10%;
  width: 78%;
  height: 120px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  font-size: 110%;
  margin-top: 2%;
  margin-bottom: 8%;
  resize: vertical;
  border: none;
  border-radius: 15px;
}
.contact .contactContainer .contactForm .submitButton {
  width: 20%;
  align-self: end;
  margin-right: 9%;
  border-radius: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #002333;
  background: linear-gradient(272deg, #149A9B, #C0DACE);
  border: none;
  font-size: large;
  font-family: "Mulish";
  font-weight: 700;
  text-align: center;
}
.contact .contactContainer .contactForm .submitButton:hover {
  filter: drop-shadow(3px 6px 20px #149A9B);
}

/*# sourceMappingURL=sections.css.map */
